.jumbotron {
    box-shadow: 5px 5px 7px 0px rgba(135,135,135,0.83);
    background-image: url("../../utils/images/books.jpg");
    background-size: cover;
    height: 500px;
    background-position: center;
}

.myText {
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 8px rgb(19, 161, 140);
    font-weight: bold;
    position: relative;
    transform: translateY(100px);
    text-align: center;
}